@import "tailwindcss";

@theme {
  --color-primary: #4372c4;
  --color-secondary: #2f1a1b;
  --color-tertiary: #f8b702;
  --color-error: #ef4648;

  --color-background-primary: #f0ebe1;
  --color-background-secondary: #2f1a1b;
  --color-text-dark-bg: #fbf5f2;

  --color-foreground: #000000;
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --safe-top: env(safe-area-inset-top);
  --safe-bottom: env(safe-area-inset-bottom);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body,
html {
  background: var(--color-background-primary);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  height: 100svh;
  overflow-x: hidden; /* prevent sideways scroll only */
  overscroll-behavior-y: none; /* optional: prevents iOS rubber banding */
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
  /* change these to something better later */
  --privy-color-background: #f6f0e8;
  --privy-color-foreground: #2d1c1c;
  --privy-color-accent: #e87a5d;
  --privy-border-radius-md: 24px;
  --privy-border-radius-lg: 32px;
  --privy-color-background-2: #ffffff;
  --privy-color-background-3: #f1ece6;
}

/* Used to remove default browser eye icons from popping up beside our icon */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

input[type="password"]::-webkit-credentials-auto-fill-button,
input[type="password"]::-webkit-clear-button,
input[type="password"]::-webkit-inner-spin-button,
input[type="password"]::-webkit-calendar-picker-indicator {
  display: none !important;
}
