
/* Full screen centered layout */
.loader-screen {
  height: 100vh;
  width: 100vw;
  background: bg-background-primary; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Optional loader text */
.loader-message {
  color: #333;
  font-family: sans-serif;
  font-size: 1.2rem;
}

/* Spinner container */
.loader-container {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 10px solid #f3f3f3;
  border-top: 10px solid var(--color-tertiary); 
  animation: spin 1.2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
